/* General and utility classes */
body {
    padding: 20px 0 0;
    margin: 0;
}
.clear {
    clear: both;
}



/* Header */



/* Search Form */
#search_form fieldset legend {
    margin-bottom: 0px;
}
#search_form .control-label {
    width: 60px;
}
#search_form .controls {
    margin-left: 80px;
}
.add_tags {
    min-height: 100px;
}



/* student_card.html */
.student_card {
    border: 1px #000000 solid;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
    width: 300px;
    float: left;
    height: 200px;
}

.student_card .image img {
    max-height: 150px;
    max-width: 100px;
}

.student_card .image {
    height: 150px; /* Force it to be 150 tall */
    float: left;
    margin-right: 10px;
}

.student_card .information {
    float: left;
    font-size: 10pt;
    width: 150px;
}

.student_card .details-button, .student_card .restore-button {
    float: right;
}



/* Search Results */
#results .student_card .restore-button {
    display: none; /* Don't show on results */
}

#search_pagination {
    float: right;
}