<div id="hidden_students">
    <div class="bottom-line">
        <div class="pull-right">
            <div class="close_x">&times;</div>
        </div>

        <h3>View Hidden Students</h3>
    </div>
    <div class="desc">
        Hit "Restore" to return the student to the search results.
    </div>

    <div id="hs_container" class="row">
        <div class="no_students span4">
            There are no hidden students currently.
        </div>
    </div>

    <a href="#" class="btn btn-primary" id="restore_all_btn">Restore All</a>
</div>