<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login - StudentSearch</title>

        <link type="text/css" rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="../static/login.css" />

        <script type="text/Javascript" src="../static/jquery.min.js"></script>
        <script type="text/Javascript" src="../static/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        {% if error %}
            {{ error }}
        {% endif %}

        <div class="container">

        {% if registered %}
            <div class="alert alert-success" style="margin-top: 25px">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Congrats!</strong>
                You're now registered for StudentSearch.  Login below to search.
            </div>
        {% endif %}

            <form class="form-signin" action="{{ url_for('login') }}" method="post">
                <div class="pull-right lead">
                    Need an account?
                    <a class="btn btn-primary" href="{{ url_for('register') }}">Register</a>
                </div>

                <h2 class="form-signin-heading">Please sign in</h2>
                <input type="email" class="input-block-level" name="uname_box" placeholder="Email address" value="{{ email }}" required />
                <input type="password" class="input-block-level" name="pw_box" placeholder="Password" required pattern="{{ ".{" + g.pass_min + "," + g.pass_max + "}" }}" title="Please enter a password between {{ g.pass_min }} and {{ g.pass_max }} characters in length." />
                <button class="btn btn-large btn-primary" type="submit">Sign In</button>
            </form>
        </div>
    </body>
</html>
