<div class="pick_tag">
    <div>
        <div class="title bottom-line">
            <span class="title_area">We're Confused</span>
        </div>
        We couldn't determine what you meant by 
        <b class="original_phrase"></b>
        <br /><br />
        Please pick one of the following options:
        <form class="tehForm">
            <ul class="valOptions"></ul>
            <input type="submit" value="Use Selected Value" class="btn btn-primary" />
            <input type="button" id="cancel_this" value="Cancel and Edit" class="btn btn-danger pull-right" />
        </form>
    </div>
</div>