<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register - StudentSearch</title>

        <link type="text/css" rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="../static/login.css" />

        <script type="text/Javascript" src="../static/jquery.min.js"></script>
        <script type="text/Javascript" src="../static/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        {% if error %}
            {{ error }}
        {% endif %}
        <div class="container">
            <form class="form-register" action="{{ url_for('register') }}" method="post">
                <div class="pull-right lead">
                    Have an account?
                    <a class="btn btn-primary" href="{{ url_for('login') }}">login</a>
                </div>
                <h2 class="form-register-heading">Create an account</h2>
                <input type="email" class="input-block-level" name="uname_box" placeholder="Email address" value="{{ email }}" required />
                <input type="password" class="input-block-level" name="pw_box" placeholder="Password" required pattern="{{ ".{" + g.pass_min + "," + g.pass_max + "}" }}" title="Please enter a password between {{ g.pass_min }} and {{ g.pass_max }} characters in length." />
                <input type="password" class="input-block-level" name="pw_confirm_box" placeholder="Confirm Password" required pattern="{{ ".{" + g.pass_min + "," + g.pass_max + "}" }}" title="Please enter a password between {{ g.pass_min }} and {{ g.pass_max }} characters in length." />
                <button class="btn btn-large btn-primary" type="submit">Register</button>
            </form>
        </div>
    </body>
</html>
