<div class="profile">
    <div class="close_x">&times;</div>
    <div class="image"></div>
    <div class="information">
        <div>
            <span class="student_name"></span>
             - 
            <span class="year"></span>
        </div>
        <div class="major"></div>
        <div class="courses"><b>Courses:</b> <span class="list_courses"></span></div>
        <div class="skills"><b>Skills:</b> <span class="list_skills"></span></div>
        <div class="interests"><b>Interests:</b> <span class="list_interests"></span></div>
    </div>

    <div class="clear"></div>

    <div class="buttons">
        <input type="button" value="Resume" class="resume btn" />
        <input type="button" value="Recommendations" class="recs btn" />
    </div>
</div>