/* General and utility classes */
body {
    padding: 0;
    margin: 0;
}
.clear {
    clear: both;
}
.bottom-line {
    border-bottom: 1px #E5E5E5 solid;
    margin-bottom: 10px;
}
.title {
    font-size: 15pt;
}



/* Header */



/* Alert */
#alert_holder .alert {
    margin-bottom: 0;
    width: 500px;
}

#alert_holder #sent_email {
    width: 275px;
}

#alert_holder #hidbar {
    width: 300px;
}



/* surround.html */
#surround {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    background-color:rgba(0,0,0,0.5);
}

#surround > div {
    background-color: #FFFFFF;
    border: 1px #555555 solid;
    border-radius: 10px;
    padding: 15px;
    width: 700px;
    margin: auto auto;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#surround > div div.close_x {
    color: #FF0000;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}



/* send_email.html */
#surround #send_email {
    height: 500px;
    width: 614px;
}

#send_email textarea {
    width: 600px;
    height: 200px;
    margin-top: 5px;
    resize: none;
}

#send_email .control-label {
    text-align: left;
    width: 75px;
}

#send_email .controls {
    margin-left: 90px;
}

#send_email .students_holder {
    padding-top: 3px;
}

#send_email .no_students {
    font-size: 12px;
    position: relative;
    top: 2px;
}

#send_email .send {
    margin-top: 5px;
}

#send_email .send .alert {
    display: inline-block;
    margin-left: 107px;
    padding-right: 14px;
}

#send_email .tag {
    top: 0;
}



/* hidden_students.html */
#surround #hidden_students {
    width: 770px;
    height: 500px;
}

#hidden_students .desc {
    margin-bottom: 10px;
}

#hs_container {
    overflow: auto;
    height: 420px;
}

#hs_container .hide-button, #hs_container .details-button {
    display: none;
}

#surround #hidden_students .close_x {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 15px;
    display: inline;
}



/* yes_no_confirmation.html */
#surround #confirm {
    width: 300px;
    height: 125px;
}

#confirm .buttons {
    text-align: center;
}

#confirm .buttons .no {
    margin-left: 15px; /* Space between yes and no */
}



/* Search Form */
#search_form > fieldset > legend {
    margin-bottom: 10px;
    border-bottom: 0;
}
#search_form .control-group {
    margin-top: 0;
    margin-bottom: 0;
}
#search_form .control-label {
    width: 70px;
    font-size: 17px;
}
#search_form .controls {
    margin-left: 25px;
    display: inline-block;
    width: 230px;
    height: 50px;
}
.add_tags {
    min-height: 110px;
}



/* Tags */
.tag {
    display: inline-block;
    padding: 0 0 0 5px;
    margin: 0 6px;
    cursor: move;
}
.tag .del_x {
    margin-left: 5px;
    cursor: pointer;
}

.or_tag {
    border: 1px #999999 solid;
    padding: 1px 1px 6px 1px;
    margin: 0 3px;
    display: inline;
    border-radius: 9px;
    position: relative;
    top: -9px;
}

.or_tag legend {
    margin: 0;
    border: 0;
}

.tag {
    position: relative;
    top: -9px;
}

.or_tag .tag {
    top: 0;
}

.or_tag legend {
    font-size: 15px;
    line-height: 12px;
    text-align: center;
    width: 29px;
    font-weight: bold;
}



/* student_card.html */
.student_card {
    height: 150px;
}

.student_card .emailed {
    float: right;
    background-image: url(./images/icons/email_go.png);
    width: 16px;
    height: 16px;
}

.student_card .image img {
    max-height: 120px;
    max-width: 100px;
}

.student_card .image {
    width: 100px;
    float: left;
    margin-right: 10px;
}

.student_card .information {
    font-size: 10pt;
    height: 115px;
}

.student_card .student_name {
    font-weight: bold;
}

.student_card .buttons {
    margin-top: 10px;
}

.student_card .details-button {
    float: right;
}
.student_card_surround.selected .well {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #468847;
}



/* student_profile.html */
#surround .profile {
    height: 500px;
}

.profile .information div {
    padding-bottom: 10px;
}

.profile .image img {
    max-height: 300px;
    max-width: 300px;
}

.profile .image {
    float: left;
    margin-right: 10px;
}

.profile .information {
    float: left;
    font-size: 15pt;
    width: 385px;
}

.profile .buttons {
    margin-top: 15px;
}



/* pick_tag.html */
#surround .pick_tag {
    height: 300px;
    padding: 20px 20px 22px 20px;
    width: 500px;
}

.valOptions {
    list-style-type: none;
}

.valOptions input {
    margin: 0 4px 0 0;
}




/* Search Results */
#results_holder fieldset legend {
    border-bottom: 0;
    margin-bottom: 0;
}

#results_holder fieldset legend span {
    font-size: 75%;
}

#results {
    height: 445px;
}

#results .no_results {
    margin-left: 31px;
}

#results .student_card .restore-button {
    display: none; /* Don't show on results */
}

#search_pagination, #deselect_button {
    float: left;
    margin: 0 0 0 25px;
}

#email_button {
    float: left;
}


/* Search Options */
#optionsSideBar {
    position: relative; /* Used to vertically center */
    top: -5px;
    font-size: 14px;
}
#optionsMenu {
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    width: 250px;
}

#optionsMenu .options_title {
    font-size: 120%;
    font-weight: bold;
}

#optionsMenu input[type=radio], #optionsMenu input[type=checkbox] {
    margin: 0;
}

#optionsList {
    padding: 6px 12px;
}