<!DOCTYPE html>
<html lang="en">
    <head>
        <title>StudentSearch - A CTJS Production</title>

        <link type="text/css" rel="stylesheet" href="./static/jquery-ui.min.css" />
        <link type="text/css" rel="stylesheet" href="./static/bootstrap/css/bootstrap.min.css" /> <!-- We'll change this to responsive when we worry about window resize -->
        <link type="text/css" rel="stylesheet" href="./static/core.css" />

        <!-- External depdendcies -->
        <script type="text/Javascript" src="./static/jquery.min.js"></script>
        <script type="text/Javascript" src="./static/jquery-ui.min.js"></script>
        <script type="text/Javascript" src="./static/underscore-min.js"></script>
        <script type="text/Javascript" src="./static/bootstrap/js/bootstrap.min.js"></script>

        <!-- Our data sets -->
        <script type="text/javascript" src="./static/constants.js"></script>
        <script type="text/Javascript" src="./static/data.js"></script>
        <script type="text/javascript" src="./static/templates.js"></script>

        <!-- Our library code -->
        <script type="text/Javascript" src="./static/set.js"></script>
        <script type="text/Javascript" src="./static/parser.js"></script>
        <script type="text/Javascript" src="./static/terminator.js"></script>
        <script type="text/Javascript" src="./static/core.js"></script>
        <script type="text/Javascript" src="./static/logic.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <!-- Header -->
            <div class="masthead bottom-line" id="header">
                <table width="100%">
                    <tr><td width="330" valign="bottom">
                        <h3>StudentSearch</h3>
                    </td><td id="alert_holder" align="center">
                    </td><td width="330" align="right">
                        <a href="#" class="btn disabled" id="hidden_students_btn">View Hidden Students</a>
                        <a href="#" class="btn disabled" id="start_new_search_btn">Start New Search</a>
                    </td></tr>
                </table>
            </div>

            <!-- Requirements form -->
            <div class="form-horizontal bottom-line" id="search_form">
                <fieldset>
                    <legend>Enter Search Requirements:</legend>
                    <div class="control-group add_tags">
                        <label for="courses" class="control-label">Courses:</label>
                        <form id="courses_form">
                            <div class="controls input-append">
                                <input type="text" name="courses" class="input-medium" id="courses" placeholder="6.813 OR 6.831" />
                                <input type="submit" value="Add" class="btn" />
                            </div>
                        </form>
                    </div>
                    <div class="control-group add_tags">
                        <label for="skills" class="control-label">Skills:</label> 
                        <form id="skills_form">
                            <div class="controls input-append">
                                <input type="text" name="skills" class="input-medium" id="skills" placeholder="Java AND C++" />
                                <input type="submit" value="Add" class="btn" />
                            </div>
                        </form>
                    </div>
                </fieldset>
            </div>

            <!-- Search results -->
            <div id="results_holder">
                <fieldset>
                    <legend>Matches: <span>(Click student(s) to select.)</span></legend>
                    <div id="results" class="row"></div>
                </fieldset>
            </div>

            <div class="clear"></div>

            <div id="email_button">
                <a href="#" class="btn disabled">E-mail Students</a>
            </div>
            <div id="search_pagination" class="pagination"><ul></ul></div>

        </div>
    </body>
</html>
