<!DOCTYPE html>
<html lang="en">
    <head>
        <title>StudentSearch - A CTJS Production</title>

        <link type="text/css" rel="stylesheet" href="/static/jquery-ui.min.css" />
        <link type="text/css" rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" /> <!-- We'll change this to responsive when we worry about window resize -->
        <link type="text/css" rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.min.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="/static/core.css" />

        <!-- External depdendcies -->
        <script type="text/Javascript" src="/static/jquery.min.js"></script>
        <script type="text/Javascript" src="/static/jquery-ui.min.js"></script>
        <script type="text/Javascript" src="/static/underscore-min.js"></script>
        <script type="text/Javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>

        <!-- Our data sets -->
        <script type="text/javascript" src="/static/constants.js"></script>
        <script type="text/Javascript" src="/static/data.js"></script>
        <script type="text/javascript" src="/static/templates.js"></script>

        <!-- Our library code -->
        <script type="text/Javascript" src="/static/set.js"></script>
        <script type="text/Javascript" src="/static/parser.js"></script>
        <script type="text/Javascript" src="/static/terminator.js"></script>
        <script type="text/Javascript" src="/static/core.js"></script>
        <script type="text/Javascript" src="/static/logic.js"></script>
    </head>
    <body>
        <div class="container">
            <!-- Header -->
            <div class="masthead bottom-line" id="header">
                <table width="100%">
                    <tr><td width="450" valign="bottom">
                        <table width="100%">
                            <tr><td valign="middle" width="1">
                                <h3>StudentSearch</h3>
                            </td><td valign="middle" nowrap>
                                <span style="position: relative; top: 4px; left: 10px">
                                    Welcome back! (<a href="/logout">Logout</a>)
                                </span>
                            </td></tr>
                        </table>
                    </td><td id="alert_holder" align="center">
                    </td><td width="450" align="right">
                        <a href="#" class="btn disabled" id="hidden_students_btn">View Hidden Students</a>
                        <a href="#" class="btn disabled" id="start_new_search_btn">Start New Search</a>
                    </td></tr>
                </table>
            </div>

            <!-- Requirements form -->
            <div class="form-horizontal bottom-line" id="search_form">
                <fieldset>
                    <legend>Enter Search Requirements:</legend>
                    <div class="control-group add_tags">
                        <label for="courses" class="control-label">Courses:</label>
                        <form id="courses_form">
                            <div class="controls input-append">
                                <input type="text" name="courses" class="input-medium" id="courses" placeholder="6.813 OR 6.831" />
                                <input type="submit" value="Add" class="btn" />
                            </div>
                        </form>
                    </div>
                    <div class="control-group add_tags">
                        <label for="skills" class="control-label">Skills:</label> 
                        <form id="skills_form">
                            <div class="controls input-append">
                                <input type="text" name="skills" class="input-medium" id="skills" placeholder="Java AND C++" />
                                <input type="submit" value="Add" class="btn" />
                            </div>
                        </form>
                    </div>
                </fieldset>
            </div>

            <!-- Search results -->
            <div id="results_holder">
                <fieldset>
                    <legend>
                        <div class="pull-right dropdown" id="optionsSideBar">
                            <a href="#" class="dropdown-toggle btn" data-toggle="dropdown" id="optionsList">
                                <img src="/static/images/icons/glyphicons_136_cogwheel.png" title="Options" alt="Options" />
                            </a>
                            <div class="dropdown-menu" id="optionsMenu" aria-labelledby="optionsList">
                                <div class="bottom-line options_title">View Classes</div>
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label for="2016_check">
                                            <input type="checkbox" id="2016_check" name="2016_check" class="2016_check" checked />
                                            Freshmen
                                        </label>
                                        <label for="2015_check">
                                            <input type="checkbox" id="2015_check" name="2015_check" class="2015_check" checked />
                                            Sophomores
                                        </label>
                                    </div>
                                    <div class="span6">
                                        <label for="2014_check">
                                            <input type="checkbox" id="2014_check" name="2014_check" class="2014_check" checked />
                                            Juniors
                                        </label>
                                        <label for="2013_check">
                                            <input type="checkbox" id="2013_check" name="2013_check" class="2013_check" checked />
                                            Seniors
                                        </label>
                                    </div>
                                </div>

                                <br />
                                <div class="bottom-line options_title">Sort Order</div>
                                <label for="sort_order1">
                                    <input type="radio" id="sort_order1" name="sort_order" value="alphabetical" checked />
                                    Sort alphabetically (by last name)
                                </label>
                                <label for="sort_order2">
                                    <input type="radio" id="sort_order2" name="sort_order" value="grade" />
                                    Sort by grade
                                </label>

                                <br />
                                <div class="bottom-line options_title">Other Settings</div>
                                <label for="show_emailed">
                                    <input type="checkbox" id="show_emailed" name="show_emailed" checked />
                                    Show previously e-mailed students
                                </label>

                            </div>
                        </div>
                        Matches: <span style="margin-left: 10px">(Click students to select)</span>
                    </legend>
                    <div id="results" class="row"></div>
                </fieldset>
            </div>

            <div class="clear"></div>

            <div id="email_button">
                <a href="#" class="btn disabled">E-mail Students</a>
            </div>

            <div id="deselect_button">
                <a href="#" class="btn disabled">Deselect All Students</a>
            </div>

            <div id="search_pagination" class="pagination"><ul></ul></div>

        </div>
    </body>
</html>
