<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login - StudentSearch</title>

        <link type="text/css" rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />

        <script type="text/Javascript" src="/static/jquery.min.js"></script>
        <script type="text/Javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        {% if error %}
            {{ error }}
        {% endif %}
        <div class="container">
            <form class="form-signin" action="/login" method="post">
                <h2 class="form-signin-heading">Please sign in</h2>
                <input type="text" class="input-block-level" name="uname_box" placeholder="Email address" />
                <input type="password" class="input-block-level" name="pw_box" placeholder="Password" />
                <button class="btn btn-large btn-primary" type="submit">Sign In</button>
				<a class="btn btn-large btn-primary" href="/register">Register</a>
            </form>
        </div>
    </body>
</html>
