<div id="send_email" class="form-horizontal">
    <div class="title">
        New E-mail
    </div>
    <hr />
    <div class="control-group">
        <label class="control-label">
            Students: 
        </label>
        <div class="controls students_holder">
            <span class="no_students" style="display: none">No students selected</span>
        </div>
    </div>
    <div class="topic_bar control-group">
        <label class="control-label" for="subject">
            Subject:
        </label>
        <div class="controls">
            <input type="text" id="subject" name="subject" />
        </div>
    </div>
    <div class="message_box">
        Message: <br />
        <textarea id="message">blargh</textarea>
    </div>
    <div class="send">
        <input type="button" value="Send" id="send_email_button" class="btn disabled" />
        <div class="alert alert-info">
            To send the e-mail, make sure to enter a subject and a message.
        </div>
    </div>
</div>