<div id="send_email">
    <div class="title">
        New E-mail
    </div>
    <hr />
    <div class="students_holder">
        Students: 
        <span class="no_students" style="display: none">[No Students Selected]</span>
    </div>
    <div class="topic_bar">
        Subject:
        <input type="text" id="subject" />
    </div>
    <div class="message_box">
        Message: <br />
        <textarea id="message">blargh</textarea>
    </div>
    <div class="send">
        <input type="button" value="Send" id="send_email_button" class="btn btn-primary" />
    </div>
</div>