<div id="send_email">
    <div class="title">
        New E-mail
        <!-- TODO: add x in upper-right -->
    </div>
    <hr />
    <div class="students_holder">
        Students:
    </div>
    <div class="topic_bar">
        Subject:
        <input type="text" id="subject" />
    </div>
    <div class="message_box">
        Message: <br />
        <textarea id="message">blargh</textarea>
        <!-- TODO: adjust cols, rows of textarea -->
    </div>
    <div class="send">
        <input type="button" value="Send" id="send_email_button" />
    </div>

</div>