<div class="student_card">
    <div class="image"></div>
    <div class="information">
        <div class="student_name"></div>
        <div class="year"></div>
        <div class="major">Course <span class="the_major"></span></div>
        <div class="interests">Interests: <span class="list_interests"></span></div>
    </div>

    <div class="clear"></div>

    <div class="buttons">
        <input type="button" value="Hide" class="hide-button btn btn-small" />
        <input type="button" value="See Details" class="details-button btn btn-small" />
        <input type="button" value="Restore" class="restore-button btn btn-small" />
    </div>
</div>